* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}


body {
    max-width: 1024px;
    font-size: 1.0em;
    line-height: 1.5;
    font-weight: 400;
    font-family: "Lato", "Calibri", Arial, Helvetica, sans-serif;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: auto-flow min-content; */
}

header,
main,
aside,
.heading,
footer {
    grid-column: 1/13;

}

/* - * - * - * - * - * - * - * - */
/* * * Headings * * */
/* - * - * - * - * - * - * - * - */

h1,
h2 {
    font-weight: 700;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

/* ---------------------------------------------------------- 
* * * * * * * * * *  * * * Homepage * * * * * * * * * * * * *
* -----------------------------------------------------------*/

/* ------------------------------------
 * * * * * * * * HEADER * * * * * * * *
--------------------------------------*/
.homepage-header {
    height: 100vh;
    position: relative;
}

.homepage-header:before {
    content: "";
    background: url(../images/dsadsasa.png) top no-repeat;
    background-position: contain;
    background-size: contain;
    width: 100%;
    height: 150px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
}


.heading {
    width: 100%;
    height: 200px;
    padding: 1em;
    position: absolute;
    background: rgba(62, 164, 248, 0.527);
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading h1 {
    color: rgb(255, 255, 255);
    font-family: 'Merienda', cursive;
}

.background {
    height: 100%;
    width: 100%;
    position: absolute;
    background: url(../images/lunch-box-with-chicken-bulgur-microgreens-tomato-fruit.jpg) center no-repeat;
    background-attachment: fixed;
    background-position: cover;
    background-size: cover;
    z-index: -1;
}

.homepage-header>nav,
header>nav {
    position: absolute;
    width: 80%;
    height: 80px;
    left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

}

.logo_wrapper {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #be159a;
}

header nav>ul {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header>nav ul li {
    position: relative;
    margin-left: 1em;
}

header>nav li:hover {
    transform: scale(1.1, 1.1);
    transition: .5s;
    cursor: pointer;
}

header>nav a {
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    display: inline-block;
    padding: 0.5em;
    position: relative;
}

header>nav a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    top: 90%;
    position: absolute;
    background: #be159a;
    border-radius: 1em;
    transition: width 0.5s ease 0s, left 0.5s ease 0s;
    width: 0;
}

header>nav a:hover:after {
    width: 80%;
    left: 10%;
}

header>nav a:hover {
    color: #be159a;
}

header>nav a:focus {
    outline: 0;
}

/* ----------------------------------
 * * * * * * * * MAIN * * * * * * * *
-------------------------------------*/

main {
    position: relative;
    width: 100%;
}

.parallax,
.parallax2,
.parallax3 {
    background-attachment: fixed;
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax {
    background-image: url(../images/composition-with-glass-watermelon-juice-slices-pink-table.jpg);
    height: 600px;
}

.parallax2 {
    height: 600px;
    background-image: url(../images/assortment-veggies-green-background-with-copy-space.jpg);
}

.parallax3 {
    height: 600px;
    background-image: url(../images/top-view-fruits-blue-background.jpg);
}

.badges::before {
    content: "";
    background: url(../images/wave.png) top no-repeat;
    background-position: contain;
    background-size: contain;
    width: 100%;
    height: 200px;
    position: absolute;
    top: -40%;
    right: 0;
    z-index: 1;
    overflow: hidden;
}

.badges::after {
    content: "";
    background: url(../images/wave1.png) top no-repeat;
    background-position: contain;
    background-size: contain;
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: -50%;
    right: 0;
    z-index: 1;
    overflow: hidden;
}

.badges {
    background-color: #fff;
    position: relative;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.badges img {
    width: 220px;
    height: 200px;
    z-index: 20;
}

.text {
    position: relative;
    height: 300px;
    width: 500px;
    border-radius: 1em;
}

.text h2 {
    padding: 1.8em 1.2em 0.4em 1.5em;
}

.text p {
    padding: 0 2.9em;
}

.juice {
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
    background: rgba(66, 183, 252, 0.815);
}

.juice h2 {
    color: rgb(207, 1, 1);
}

.juice p {
    color: rgb(27, 133, 0);
}

.vegetables {
    top: 50%;
    right: -45%;
    transform: translate(0, -50%);
    background: rgba(248, 62, 87, 0.856);
}

.vegetables h2 {
    color: rgb(158, 253, 123);
}

.vegetables p {
    color: rgb(245, 237, 129);
}

.fruits {
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
    background: rgba(248, 220, 62, 0.856);
}

.fruits h2 {
    color: rgb(204, 6, 6);
}

.fruits p {
    color: rgb(146, 2, 2);
}

.border {
    background: url(../images/wavesss.png) center no-repeat;
    background-position: contain;
    background-size: contain;
    width: 110%;
    height: 350px;
    position: absolute;

    z-index: 1;
}

.first {
    top: 30%;
    left: -1px;
}

.second {
    bottom: 20%;
    left: -1px;
}


/* - * - * - * - * - * - * - * - */
/* Footer (Styling Apply to All Pages ) */
/* - * - * - * - * - * - * - * - */

footer {
    position: relative;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffff;
    z-index: 1;
    color: #000;
}

footer:before {
    content: "";
    background: url(../images/wave.png) top no-repeat;
    background-position: contain;
    background-size: contain;
    width: 100%;
    height: 200px;
    position: absolute;
    top: -80px;
    right: 0;
    z-index: -1;
}

.footer-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

/* Categories */
.footer-container>nav h2 {
    font-size: 1em;
    /* color: #000; */
}

.footer-container>nav ul li {
    /* margin-top: 0.1em; */
}

.footer-container>nav ul li:first-of-type {
    margin-top: 0.2em;
}

.footer-container>nav ul li a {
    /* color: #000; */
    font-size: 0.8em;
    text-decoration: none;
}


/* Address */

.footer-container>address {
    /* color: #fff; */
}

.footer-container>address h2 {
    /* color: #fff; */
    font-size: 1em;
}


address>ul li i {
    font-size: 0.8em;
}

.footer-container>address span {
    font-size: 0.8em;
}

.footer-container>address li:first-of-type span {
    display: block;
    margin-left: 1.2em;
}

.footer-container>address li:first-of-type span:first-of-type {
    display: inline-block;
    margin: 0;
}

.footer-container>address li a {
    /* color: #fff; */
}

/* Social Media */

.social-media {
    min-width: 130px;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.social-media h2 {
    font-size: 1em;
    /* color: #fff; */
}

.social-media>ul {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.social-media>ul li {
    margin-right: 0.5em;
    /* color: #fff; */
}

.social-media>ul li a {
    margin-top: 0.3em;
    font-size: 1.5em;
    /* color: #fff; */
}


/* Terms */
.terms {
    width: 80%;
    min-height: 40px;
    margin-top: 0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #000;
}

.terms p {
    font-size: 0.8em;
    /* color: #fff; */
}

.terms>ul {
    min-width: 310px;
    display: flex;
    justify-content: space-between;
}

.terms>ul li a {
    text-decoration: none;
    /* color: #fff; */
    font-size: 0.8em;
}


/* ---------------------------------------------------------------- */
/* * * * * * * * * *  * * * Contact Us Page * * * * * * * * * * * * */
/* ---------------------------------------------------------------- */